@font-face {
  font-family: Sansation;
  src: url(./fonts/sansation_regular-webfont.woff);
  /* src: url(../fonts/sansation_bold-webfont.woff); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sansation;
  src: url(./fonts/sansation_bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Sansation, serif;
}

a,
a:visited {
  text-decoration: none;
  color: "white";
}
